<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="playwright testing" parallel="classes" thread-count="5">
    <test name="frame test">
        <classes>
            <class name="DialogTest"/>
            <class name="FrameTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->